* {
    margin: 0;
    padding: 0;
}

.background-img {
    width: 100vw;
    height: 100vh;
    overflow-y: hidden;
}

.background-img > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

nav {
    display: flex;
    justify-content: center;
}   

