*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
    background-color: black;
    background-image: url(/src/frontend/img/bakcgroundpage.png);
    object-fit: cover;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

main {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}


.principal{
    color: white;
    text-align: center;
    margin-top: 7%;
}

.principal p{
    font-size: 12px;
}

.principal h1{
    font-size: 33px;
}

.opcoes button{
    width: 65px;
    border: 1px solid red;   
    border-radius: 5px;
    padding: 5px;
    margin-left: 1px;
    background: transparent;
    border-radius:2px 2px 2px rgba(0, 0, 0, 0.444);
    cursor: pointer;
}

.opcoes{
    text-align: center;
    margin-top: 20px;
}

.opcoes a {
    text-decoration: none;
    color: white;
}

.opcoes button:hover{
    background-color: red
}
