@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
  scroll-behavior: smooth ;
}

nav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  padding: 10px 30px;
  background-color: black;

}   

button, a {
    cursor: pointer;
}

.links > a {
    color: white;
    font-size: 20px;
    font-family: Montserrat;
    font-weight: 550;
    text-decoration: none;
    position: relative;
}

.links {
    display: flex;
    justify-content: center;
    gap: 40px;

}

.links > a:hover{
    color:red
}

.links > a::after{
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 100%;
  height: 2px;
  background-color: red;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease;
}

.links > a:hover::after {
    transform: scaleX(1);
    
}

.visually-hidden {
    display: none;
}

.img-nav {
    width: 200px;
}

.img-nav > img {
    width: 100%;
}

.icons-nav {
    gap: 25px;
    display: flex;
    justify-content: end;
}

.img-hero {
    margin-top: 110px;
}


.hero {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-image:
    linear-gradient(to bottom, rgba(255,255,255,0) 85%, rgb(0, 0, 0) 100%), 
    url("/src/frontend/img/inicio-images/cinema-background.jpg");
    background-repeat: no-repeat;
    object-fit: cover;
    background-size: cover;
    min-height: calc(100vh - 78px);

}

.buttons-hero {
    justify-content: center;
    display: flex;
    margin-top: 60px;
    gap: 30px;
}

.buttons-hero > a {

    border-radius: 50px;
    padding: 30px 70px;
    font-size: 18px;
    font-family: MontSerrat;
    color: #FFF;
    text-decoration: none;

}

.buttons-hero > .programacao-btn {
    background-color: rgb(214, 0, 0);
    border: none;
}

.buttons-hero > .explorar-btn {
    border: 2px solid  rgb(53, 53, 53);
    background-color: rgba(255, 255, 255, 0);
}

main {
    background-color: black;
    padding: 1px 100px 50px 100px;
}

.catalog, .cinemas, .sobre{
    margin-top: 280px;
}

.title-catalog, .title-cinemas, .title-sobre {
    color: #FFF;
    font-size: 50px;
    font-family: Lexend;
}   

.slide-container, .slide-container-cinema {
    width: 100%;
    overflow: hidden;
    margin-top: 60px;
}

.slide-wrapper, .slide-wrapper-cinema {
    display: flex; 
    list-style: none;
    padding: 0px;
    gap: 40px; 
}

.slide {
    width: 250px;
}


.info-caption {
    color: #cecece;
    font-family: Lexend;
    font-size: 15px;
    margin-top: 15px;

}

.img-caption, .title-card-cinema, .parag-card-cinema, .parag-sobre {
    width: 100%;
    color: #ffffff;
    font-family: Lexend;
    font-size: 22px;
    margin-top: 14px;
    line-height: 1.4;
    
}

.img-wrapper {
    border-radius: 10px;
    overflow: hidden;
    transition: transform ease 0.2s;
}

.img-wrapper > img {
    width: 100%;
    height: 320px;
    object-fit: cover;
    display: block;

}

.img-wrapper:hover {
    transform: scale(1.05);
    transition: margin-bottom ease-in 0.1s;
    margin-bottom: 20px;
}

.slide-container:hover {
    overflow: visible;
}


@keyframes animacao {

    from {
    opacity: 0;
    transform: translateY(50px);
  }
    to {
    opacity: 1;
    transform: translateY(0);
  }  

}

section {
    animation-name: animacao;
    animation-timing-function: linear;
    animation-fill-mode: both;
    animation-timeline: view();
    animation-range: entry 0% cover 50%;
    animation-duration: 1s; 
}


.cinemas {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.title-cinemas {
    text-align: center;
}

.slide-wrapper-cinema {
    gap: 50px;
}

.slide-container-cinema {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}

.slide-cinema {
    width: 500px;
    height: auto;
    background-color: #111111;
    padding-bottom: 30px;
    border-radius: 10px;
    overflow: hidden;
}

.title-card-cinema {
    font-size: 30px;
    margin-top: 30px;
    font-weight: bold;
    font-family: "Montserrat";
}

.parag-card-cinema {
    font-size: 18px;
    margin-top: 30px;
    color: #AAAAAA;
}


.btn-programacao-cinema {
    padding: 20px 60px;
    border: 2px solid #E50914;
    color: #E50914;
    font-size: 17px;
    border-radius: 50px;
    transition: background-color ease-in 0.1s;
    font-family: "Onest";
    font-weight: 400;
    background-color: rgba(255, 255, 255, 0);
}

.btn-programacao-cinema:hover {
    background-color: #E50914;
    color: white;
}

.btns-tags{
    display: flex;
    gap: 10px;
}

.div-btns-cinema {
    margin-top: 65px;
    display: flex;
    align-items: flex-start; 
    justify-content: space-between;
    align-items: center;
    padding: 0px 30px;
    
}

.btn-tags-cinema {
    border: none;
    background-color: #252525;
    border-radius: 5px;
    color: #FFF;
    font-family: "Inter";
    font-weight: 600;
    font-size: 14px;
    padding: 5px 10px;
    transition: background-color ease-in 0.1s;
}

.btn-tags-cinema:hover {
    background-color: #FFF;
    color: black;
}

.img-wrapper-cinema {
    background-image: 
    linear-gradient(to bottom, transparent 50% , #111111 ), 
    url("/src/frontend/img/inicio-images/cinemind-cinema1.png");
    object-fit: cover;
    background-size: 100% 100%;
    height: 300px;
    background-repeat: no-repeat;
    background-position: center;
}

.texts-cinema {
    padding: 0px 30px;
}

.mark {
    width: 50px;
    display: flex;
    border: 2px solid red;
    margin-bottom: 30px;
}

.container-sobre {
    display: grid;
    grid-template-columns: 1.3fr 1fr;
    place-items: center;
    gap: 40px;
}

.highlight {
    color: red;
    font-style: italic;
    transition: transform ease 0.2s;
    
}

.highlight:hover {
    text-shadow: 0 0 5px #ff000000, 0 0 10px #ff000000, 0 0 20px;

}

.parag-sobre {
    margin-top: 70px;
    line-height: 1.7;
    font-size: 24px;
    font-weight: 200;
    font-family: "Inter";
}

.img-sobre {
    width: 600px;
    height: auto;
    object-fit: cover;
}

.img-sobre > img {
    width: 100%;
    border-radius: 10px;

}

hr {
    border: 1px solid rgb(32, 32, 32);
    margin-top: 90px;
}

.numbers-sobre {
    display: flex;
    gap: 200px;
    margin-top: 70px;
}

.numbers {
    color: red;
    font-family: "Montserrat";
    font-size: 50px;
    font-weight: 700;
}

.numbers-info {
    margin-top: 20px;
    font-family: "Montserrat";
    font-size: 20px;
    color: white;
    font-weight: 200;
    letter-spacing: 3px;
}