@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


nav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  padding: 10px 30px;
  background-color: black;

}   

.links > p {
    color: white;
    font-size: 20px;
    font-family: Montserrat;
    font-weight: 550;
}

.links {
    display: flex;
    justify-content: center;
    gap: 40px;

}

.img-nav {
    width: 200px;
}

.img-nav > img {
    width: 100%;
}

.icons-nav {
    gap: 25px;
    display: flex;
    justify-content: end;
}

.img-hero {
    margin-top: 110px;
}


.hero {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-image: url("/src/frontend/img/cinema-background.jpg");
    background-repeat: no-repeat;
    object-fit: cover;
    background-size: cover;
    min-height: calc(100vh - 78px);

}

.buttons-hero {
    justify-content: center;
    display: flex;
    margin-top: 60px;
    gap: 30px;
}

.buttons-hero > button {

    border-radius: 50px;
    padding: 30px 70px;
    font-size: 18px;
    font-family: MontSerrat;
    color: #FFF;

}

.buttons-hero > .programacao-btn {
    background-color: rgb(214, 0, 0);
    border: none;
}

.buttons-hero > .explorar-btn {
    border: 2px solid  rgb(53, 53, 53);
    background-color: rgba(255, 255, 255, 0);


}
