@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
  scroll-behavior: smooth ;
}

nav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  padding: 10px 30px;
  background-color: black;

}   

.links > a {
    color: white;
    font-size: 20px;
    font-family: Montserrat;
    font-weight: 550;
    text-decoration: none;
    position: relative;
}

.links {
    display: flex;
    justify-content: center;
    gap: 40px;

}

.links > a:hover{
    color:red
}

.links > a::after{
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 100%;
  height: 2px;
  background-color: red;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease;
}

.links > a:hover::after {
    transform: scaleX(1);
    
}

.visually-hidden {
    display: none;
}

.img-nav {
    width: 200px;
}

.img-nav > img {
    width: 100%;
}

.icons-nav {
    gap: 25px;
    display: flex;
    justify-content: end;
}

.img-hero {
    margin-top: 110px;
}


.hero {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-image:
    linear-gradient(to bottom, rgba(255,255,255,0) 85%, rgb(0, 0, 0) 100%), 
    url("/src/frontend/img/inicio-images/cinema-background.jpg");
    background-repeat: no-repeat;
    object-fit: cover;
    background-size: cover;
    min-height: calc(100vh - 78px);

}

.buttons-hero {
    justify-content: center;
    display: flex;
    margin-top: 60px;
    gap: 30px;
}

.buttons-hero > a {

    border-radius: 50px;
    padding: 30px 70px;
    font-size: 18px;
    font-family: MontSerrat;
    color: #FFF;
    text-decoration: none;

}

.buttons-hero > .programacao-btn {
    background-color: rgb(214, 0, 0);
    border: none;
}

.buttons-hero > .explorar-btn {
    border: 2px solid  rgb(53, 53, 53);
    background-color: rgba(255, 255, 255, 0);
}

main {
    background-color: black;
    padding: 280px 100px 50px 100px;
}

.title-catalog, .title-cinema {
    color: #FFF;
    font-size: 50px;
    font-family: Lexend;
}   

.slide-container {
    width: 100%;
    overflow: hidden;
    margin-top: 60px;
    margin-bottom: 400px;
}

.slide-wrapper {
    display: flex; 
    list-style: none;
    padding: 0px;
    gap: 40px; 
}

.slide {
    width: 250px;
}


.info-caption {
    color: #cecece;
    font-family: Lexend;
    font-size: 15px;
    margin-top: 15px;

}

.img-caption {
    width: 100%;
    color: #ffffff;
    font-family: Lexend;
    font-size: 22px;
    margin-top: 14px;
    line-height: 1.4;
    
}

.img-wrapper {
    border-radius: 10px;
    overflow: hidden;
    transition: transform ease 0.2s;
}

.img-wrapper > img {
    width: 100%;
    height: 320px;
    object-fit: cover;
    display: block;

}

.img-wrapper:hover {
    transform: scale(1.05);
    transition: margin-bottom ease-in 0.1s;
}

.slide-container:hover {
    overflow: visible;
}

.img-wrapper:hover {
    margin-bottom: 20px;

}


@keyframes animacao {

    from {
    opacity: 0;
    transform: translateY(50px);
  }
    to {
    opacity: 1;
    transform: translateY(0);
  }  

}

.title-catalog,
.slide-container {
    animation-name: animacao;
    animation-timing-function: linear;
    animation-fill-mode: both;
    animation-timeline: scroll();
    animation-range: entry 0% cover 50%;
    animation-duration: 1s; 
}


