@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@200..800&display=swap');

* {
    margin: 0;
    padding: 0;
}



body {
    background-image: url("/src/frontend/img/cinema-background.jpg");
    background-repeat: no-repeat;
    object-fit: cover;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}



nav {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  padding: 10px;

}   

.links > p {
    color: white;
    font-family: none;
    font-size: 20px;
}

.links {
    display: flex;
    justify-content: center;
    gap: 30px;

}

.img-nav {
    margin-left: 20px;
    justify-self: start;
    width: 250px;
}

.img-nav > img {
    width: 100%;
}

